/* BANNER PART START */
#banner{
    background: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}
/* BANNER PART END */ 