/* navbar part start */
.navbar{
    background: #aac4ff6e;
    .img{
        width: 120px;
    }
    ul{
        li{
            padding: 0 20px;
            a{
                color: #777;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}
/* navbar part end */ 