/* HEADING PART START */
#heading{
    padding: 20px 0;
    background: #ADDDD0;
}
.heading_main{
    .heading_item{
        text-align: center;
        a{
            font-size: 30px;
            font-weight: 400;
            transition: all linear .3s;
            color: #D800A6;
            position: relative;
            &:hover{
                color: #87A2FB;
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
            &::after{
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                background: #87A2FB;
                opacity: 0;
                visibility: hidden;

            }
        }
    }
} 
/* HEADING PART END */ 

/* RECORD ITEM PART START */ 
#record_item{
    padding: 60px 0;
}
.record_item_main{
    .record_item_full{
        background: #EEF1FF;
        .screenshot_item{
            margin-bottom: 15px;
            .item_main{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 100px;
                padding: 20px 0;
            .tittle{
                h4{
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            .img_upload{
                border: 1px solid #000;
                border-radius: 5px;
                padding: 30px 60px;
                text-align: center;
                font-size: 50px;
                p{
                    font-size: 15px;
                }
            }
            }
            .diposite_bank_btn{
                padding: 30px 0;
                button{
                    padding: 10px 100px;
                    background: linear-gradient(#5CB8E4,#277BC0);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
}
/* RECORD ITEM PART END */ 