/* TASK PART START */
#task{
    padding: 60px 0;
} 

.task_main{
    text-align: center;
    .youtube{
        .icon{
            a{
                color: red;
            }
        }
    }
    .icon{
        a{
            font-size: 50px;
        }
    }
}
/* TASK PART END */ 